* {
    outline:    none;
    box-sizing: border-box;
}

@font-face {
    font-family: Klavika;
    src:         url('../fonts/KlavikaWebBasicRegular.woff');
}

@font-face {
    font-family: Klavika;
    src:         url('../fonts/KlavikaWebBasicBold.woff');
    font-weight: bold;
}

@font-face {
    font-family: Klavika;
    src:         url('../fonts/KlavikaWebBasicBoldItalic.woff');
    font-weight: bold;
    font-style:  italic;
}

@font-face {
    font-family: Klavika;
    src:         url('../fonts/KlavikaWebBasicRegularItalic.woff');
    font-style:  italic;
}

html {
    -webkit-transform:        scale(1.0);
    -webkit-transform-origin: 0% 0%;
    overflow:                 hidden;
    font-family:              Klavika;
    font-size:                14px;
    margin:                   0;
    padding:                  0;
}

body {
    margin:  0;
    padding: 0;
    width:   100%;
    height:  100%;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

input {
    font-family: klavika;
}

.quote {
    color:      #ff00ff;
    display:    table;
    font-style: italic;
    padding:    6px 10px 10px 10px;
    font-size:  12px;
}

.error {
    color:     #cc0000;
    display:   table;
    padding:   6px 10px 10px 10px;
    font-size: 12px;
}

.appBorder {
    padding:               5px;
    background-color:      rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
}

.appBox {
    margin:                0 auto;
    cursor:                pointer;
    border:                1px solid rgba(0, 172, 255, 0.6);
    background:            rgb(93, 93, 93) -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 10%, rgba(52, 52, 52, 1) 100%);
    -webkit-border-radius: 3px;
    -webkit-user-select:   none;
}

.itemLogo {
    width:           100px;
    height:          27px;
    background:      url('../../images/logo_100x27.png') no-repeat center center;
    background-size: 100% 100%;
    pointer-events:  none;
    -webkit-filter:  drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

.itemLogoCloud9 {
    width:           100px;
    height:          27px;
    background:      url('../../images/logo_cloud9_100x27.png') no-repeat center center;
    background-size: 100% 100%;
    pointer-events:  none;
    -webkit-filter:  drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

.itemLogoLolskill {
    width:           130px;
    height:          27px;
    background:      url('../../images/logo_lolskill_130x27.png') no-repeat center center;
    background-size: 100% 100%;
    pointer-events:  none;
    -webkit-filter:  drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

.itemLogoLolking {
    width:           130px;
    height:          27px;
    background:      url('../../images/logo_lolking_130x27.png') no-repeat center center;
    background-size: 100% 100%;
    pointer-events:  none;
    -webkit-filter:  drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

.appClose, .appReload, .appBookmarks {
    position:              absolute;
    left:                  147px;
    top:                   8px;
    width:                 16px;
    height:                16px;
    background:            rgba(255, 170, 50, 0.6) url('../../images/button_close_16x16.png?v=2') no-repeat center center;
    background-size:       100% 100%;
    z-index:               60;
    cursor:                pointer;
    -webkit-border-radius: 2px;
}

.appConfig, .appHelp, .appStats {
    position:            absolute;
    left:                147px;
    top:                 8px;
    width:               16px;
    height:              16px;
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     100% 100%;
    z-index:             60;
    cursor:              pointer;
}

.appReload {
    background-image: url('../../images/button_reload_16x16.png?v=2');
}

.appConfig {
    background-image: url('../../images/button_config_16x16.png?v=2');
}

.appHelp {
    background-image: url('../../images/button_help_16x16.png?v=2');
}

.appBookmarks {
    background-image: url('../../images/button_bookmarks_16x16.png?v=2');
}

.appStats {
    background-image: url('../../images/button_stats_16x16.png?v=2');
    display:          none;
}

.itemGo {
    width:           24px;
    height:          24px;
    background:      url('../../images/button_go_24x24.png') no-repeat center center;
    background-size: 24px 24px;
}

.itemShowBookmark {
    width:           24px;
    height:          24px;
    background:      url('../../images/button_bookmark_show_24x24.png') no-repeat center center;
    background-size: 24px 24px;
}

.itemDelete {
    width:           16px;
    height:          16px;
    background:      url('../../images/button_bookmark_delete_16x16.png?v=2') no-repeat center center;
    background-size: 16px 16px;
}

.appClose:hover, .appReload:hover, .appBookmarks:hover {
    background-color: rgba(255, 170, 50, 1);
}

.appSelectArrow {
    width:                 20px;
    height:                20px;
    background:            rgba(0, 172, 255, 0.2) url('../../images/button_select_arrow_14x8.png') no-repeat center center;
    background-size:       14px 8px;
    -webkit-border-radius: 2px;
}

.itemdisabled {
    opacity: 0.4;
    cursor:  pointer;
}

.altColor {
    color: rgba(255, 170, 50, 1);
}

.clear {
    clear: both;
}